.blog {
    background-color: rgb(213, 203, 203);
    height: 250px;
    width: 50%;
    margin-left: 320px;
    margin-top: 50px;
}

.title {
    height: 30px;
    width: 100%;
    /* text-align: left; */
    background-color: rgb(213, 203, 203);
    margin: 5px;

}

.blogtext {
    height: 200px;
    width: 100%;
    /* text-align: left; */
    margin: 5px;
}
.but{
    margin: 20px;
}